* {
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
  }

  body {
    background-color: #f2f2f2;
    font-family: "Roboto", sans-serif;
    height: auto;
  }

  .head{
    background-color: #004c33;
    width: 100%;
 }
 
 .logoeco{
   width: 395px;
   height: 131px;
   object-fit: cover;
 }
 
 
 .menu{
   font-size: 20px;
   border: 0;
   color: #f2f2f2;
   background-color: #004c33;
   margin-left: 80px;
 }

 .serviços{
    font-size: 70px;
    text-align: center;
    color: #004c33;
    margin-top: 20px;
   }

.lixoes{
    background-image: url(../assets/Lixão.webp);
    width: 300px;
    height: 200px;
    margin-left: 300px;
}

.texto{

 width: 800px;
 height: 200px;


}

.lixo{
    margin-top: 100px;
    margin-left: 300px;
    width: 1200px;
   
}

.aterro{
  background-color: black;
  width: 300px;
  height: 200px;
  background-image: url(../assets/Aterro\ controlado.webp);
  margin-left: 600px;
  
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #0d5313;
 }

 .saiba{
  border: none;
  border-radius: 5%;
  background-color: #004c3300;
  color: #f2f2f200;
  padding: 20px;
  margin-top: 25%;
  margin-left: 29%;
  transform: scale(0.9);
  
 }

 .saiba:hover {
  background-color: #004c33;
  color: #f2f2f2;
  transform: scale(1);
  transition: 1s;

 }

 .sanitario{
  background-color: black;
  width: 300px;
  height: 200px;
  background-image: url(../assets/aterro\ sanitario.webp);
  margin-left: 600px;

 }

 .inertes{
  background-color: black;
  width: 300px;
  height: 200px;
  background-image: url(../assets/Aterro\ de\ inertes.webp);
  margin-left: 600px;

 }

 #open-modal {
  border: 0;
 padding: 15px;
 border-radius: 7px;
 width: 200px;
 background-color: #FFFF;
 color: #004c33;
 margin-left: 50px;
 margin-top: 70px;
}

#open-dois {
  border: 0;
 padding: 15px;
 border-radius: 7px;
 width: 200px;
 background-color: #FFFF;
 color: #004c33;
 margin-left: 50px;
 margin-top: 70px;
}

button:hover {
  opacity: 1;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#fade, #fadedois {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal, #modaldois {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 700px;
  max-width: 90%;
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
}

#fade,
#modal, #fadedois,
#modaldois {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #004c33;
}

.modal-header-dois {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #004c33;
}



.modal-body p {
  margin-bottom: 1rem;
}

#modal.hide,
#fade.hide, #modaldois.hide,
#fadedois.hide  {
  opacity: 0;
  pointer-events: none;
}

#modal.hide, #modaldois.hide {
  top: 0;
}

#close-modal, #close-dois {
  border: 0;
  border-radius: 20px;
  padding: 20px;
  background-color: #004c33;
  color: #FFFF;
}

.arvr{
  width: 500px;
  margin-left: 120px;
}


 
